<h2>Syntax</h2>
<div class="m-bottom ">btn <span class="tag">-size</span></div>
<div class="m-bottom ">btn <span class="tag">-style</span><span class="tag">-color</span></div>
<h2>Example</h2>
<div class="m-bottom "><span class="tag">btn-sm</span> <span class="tag">btn-bg-primary</span></div>
<h2>Rules</h2>
<div class="m-bottom">
  <ul class="m-top">
    <li class="m-bottom">
      <p>
      The minimum requirement to create a button element is the <span class="tag">btn</span> class. Any html element can become a button, but it's recommended to use links and inputs for accessibility purposes.
      </p>
      <i> Example: </i> <pre class="tag"><a class="btn"></a></pre> or <pre class="tag"><input type="button" class="btn"></pre>
    </li>
    <li class="m-bottom">
      <p>
      html buttons and inputs (submit or button type) get the button styling by default. This mean there is no need to had them the <span class="tag">btn</span> class.
      To exclude specific buttons or inputs, had them the <span class="tag">exclude</span> class, or any other excluding class setup in the framway's config (see dashboard config, btn section).
      </p>
      <i>Example:</i>
      <pre class="tag"><button class="exclude"></button></pre>
    </li>
    <li class="m-bottom">
      <p>
      Button size can be customized by adding a <span class="tag">-size</span> suffix. This suffix can be <span class="tag">sm</span> for small, or <span class="tag">lg</span> for large.
      </p>
      <div class="d-grid cols-3 cols-md-1 txt-center m-bottom-x2">
        <div>
          <pre class="tag"><a class="btn-sm">Lorem ipsum</a></pre><br>
          <a class="btn-sm">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn">Lorem ipsum</a></pre><br>
          <a class="btn">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn-lg">Lorem ipsum</a></pre><br>
          <a class="btn-lg">Lorem ipsum</a>
        </div>
      </div>
    </li>
    <li class="m-bottom">
      <p>Button style can be customized by adding a <span class="tag">-style</span> and a <span class="tag">-color</span> suffix. Current available styles are the following: </p>
      <ul class="m-bottom">
        <li><span class="tag">-bg</span> : plain background (default style used for button styling)</li>
        <li><span class="tag">-bd</span> : transparent background and apparent borders on idle state. Colored background on hover/focus state</li>
      </ul>
      <div class="d-grid cols-2 cols-md-1 txt-center m-bottom-x2">
        <div>
          <pre class="tag"><a class="btn-bg-secondary">Lorem ipsum</a></pre><br>
          <a class="btn-bg-secondary">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn-bd-tertiary">Lorem ipsum</a></pre><br>
          <a class="btn-bd-tertiary">Lorem ipsum</a>
        </div>
      </div>
    </li>
    <li class="m-bottom">
      <p>To change style and size at the same time, you need to add two <span class="tag">btn</span> class with the corresponding suffixes.</p>
      <div class="d-grid cols-2 cols-md-1 txt-center m-bottom-x2">
        <div>
          <pre class="tag"><a class="btn-sm btn-bg-secondary">Lorem ipsum</a></pre><br>
          <a class="btn-sm btn-bg-secondary">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn-lg btn-bd-tertiary">Lorem ipsum</a></pre><br>
          <a class="btn-lg btn-bd-tertiary">Lorem ipsum</a>
        </div>
      </div>
    </li>
    <li class="m-bottom">
      <p>Icons - from the built in Font Awesome library, or any svg file - can be added to a button's text. It is then necessary to add an <span class="ft-nowrap">icon-<span class="tag">position</span></span> class to it. <span class="tag">position</span> can be either <span class="tag">first</span> or <span class="tag">last</span> and defined on which side the icon will be rendered, no matter its real position in button's html.</p>
      <div class="d-grid cols-2 cols-md-1 txt-center m-bottom-x2">
        <div>
          <pre class="tag"><a class="btn icon-first">Lorem ipsum <i class="fa fa-arrow-left"></i></a></pre><br>
          <a class="btn icon-first">Lorem ipsum <i class="fa fa-arrow-left"></i></a>
        </div>
        <div>
          <pre class="tag"><a class="btn icon-last">Lorem ipsum <i class="fa fa-arrow-right"></i></a></pre><br>
          <a class="btn icon-last">Lorem ipsum <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </li>
    <li class="m-bottom">
      <p>Button's padding can be equalized, by adding the <span class="tag">squared</span> class. This is usefull in some case, like a button with icon but no text.</p>
      <div class="d-grid cols-3 cols-md-1 txt-center m-bottom-x2">
        <div>
          <pre class="tag"><a class="btn-sm squared">Lorem ipsum</a></pre><br>
          <a class="btn-sm squared">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn squared">Lorem ipsum</a></pre><br>
          <a class="btn squared">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn-lg squared">Lorem ipsum</a></pre><br>
          <a class="btn-lg squared">Lorem ipsum</a>
        </div>
        <div>
          <pre class="tag"><a class="btn-sm squared"><i class="fa fa-search"></i></a></pre><br>
          <a class="btn-sm squared"><i class="fa fa-search"></i></a>
        </div>
        <div>
          <pre class="tag"><a class="btn squared"><i class="fa fa-search"></i></a></pre><br>
          <a class="btn squared"><i class="fa fa-search"></i></a>
        </div>
        <div>
          <pre class="tag"><a class="btn-lg squared"><i class="fa fa-search"></i></a></pre><br>
          <a class="btn-lg squared"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </li>
    <li class="m-bottom">
      <p>Buttons base paddings (horizontal and vertical) can be changed in any framway theme by changing the value of the following vars:</p>
      <ul>
        <li><span class="tag">btn-p-y</span> (default 0.5em)</li>
        <li><span class="tag">btn-p-x</span> (default 1.5em)</li>
      </ul>
    </li>
  </ul>
</div>