<h2>Syntax</h2>
<div class="m-bottom">
	img-container r_<span class="tag">ratioValue</span> <span class="tag">effectClass</span><br>
	<!-- <span class="tag">zoomin</span> <span class="tag">zoomout</span> <span class="tag">fadetocolor</span> <span class="tag">fadetogrey</span> -->
</div>
<h2>Example</h2>
<div class="m-bottom">
	<pre class="tag m-bottom">
		<div class="img-container r_16-9 zoomin fadetogrey center w-50"><img src="https://picsum.photos/500/300" alt=""></div>
	</pre>
	<div class="img-container r_16-9 zoomin fadetogrey center w-50"><img src="https://picsum.photos/500/300" alt=""></div>
</div>
<h2>Rules</h2>
<div class="m-bottom">
  <ul class="m-top">
    <li class="m-bottom">
      img elements need to be wrapped in a div with the <span class="tag">img-container</span> class. This class get by default 100% of the parent's width. You can counter this by adding a width utility class.
    </li>
    <li>
    	To apply a specific ratio to the image, add a ratio class to the <span class="tag">img-container</span>:
    	<ul>
    		<li>r_16-9</li>
    		<li>r_2-1</li>
    		<li>r_1-1</li>
    		<li>r_1-2</li>
    		<li>r_4-3</li>
    	</ul>
    </li>
    <li>
    	You can define basic effects on hover, by adding an effect class to the <span class="tag">img-container</span>:
    	<ul>
    		<li>zoomin</li>
    		<li>zoomout (doesn't work with zoomin)</li>
    		<li>fadetocolor</li>
    		<li>fadetogrey (doesn't work with fadetocolor)</li>
    	</ul>
    </li>
  </ul>
</div>