<h2>Syntax</h2>
<div class="m-bottom">bd<span class="tag">-side</span><span class="tag">-color</span><span class="tag">-size</span></div>
<h2>Example</h2>
<div class="m-bottom"><span class="tag">bd-primary</span></div>
<h2>Rules</h2>
<div class="m-bottom">
  <ul class="m-top">
    <li class="m-bottom">
      <span class="tag">bd</span> can be used alone, and give a border to its element, with default size and color set in framway's configuration (<span class="tag">border-default-size</span> & <span class="tag">border-default-color</span>)
    </li>
    <li class="m-bottom">
    	Each modifier can be used or skipped, but should always be in the correct order.
    	<div class="d-grid cols-3 cols-md-1 txt-center m-bottom-2">
    		<div>
    			<span class="tag">bd-bottom-primary-5 [correct]</span>
    			<div class="bd-bottom-primary-5 m-top">lorem ipsum</div>
    		</div>
    		<div>
    			<span class="tag">bd-bottom-5 [correct]</span>
    			<div class="bd-bottom-5 m-top">lorem ipsum</div>
    		</div>
    		<div>
    			<span class="tag">bd-5-primary-bottom [wrong]</span>
    			<div class="bd-5-primary-bottom m-top">lorem ipsum</div>
    		</div>
    	</div>
    </li>
  </ul>
</div>
<h2>Notes</h2>
<div class="m-bottom">
  <ul class="m-top">
    <li class="m-bottom">
      Bordered elements have a default padding set by the <span class="tag">spacing</span> config var. To nullify or change this, use the padding classes.
    </li>
  </ul>
</div>