<i class="center-block w-fit txt-center m-bottom">
   The following presents a bunch of available utility classes, that you can use on any html element.<br> 
   Some of them make use of the <span class="tag">!important</span> css flag, identified by this symbol: <i class="fas fa-exclamation-triangle ft-error"></i> <br>
   Use these classes with caution.
</i>
<h2>Fonts</h2>
<div class="m-bottom d-grid cols-2 cols-sm-1">
	<div>
		<h5>Weights</h5>
		<ul>
			<li><span class="tag">ft-light</span><span class="tag">ft-l</span>: <span class="ft-light">light</span></li>
			<li><span class="tag">ft-normal</span><span class="tag">ft-n</span>: <span class="ft-normal">normal</span></li>
			<li><span class="tag">ft-bold</span><span class="tag">ft-b</span>: <span class="ft-bold">bold</span></li>
			<li><span class="tag">ft-bolder</span>: <span class="ft-bolder">bolder</span></li>
		</ul>
	</div>
	<div>
		<h5>Styles & transformations</h5>
		<ul> 
			<li><span class="tag">ft-i</span>: <span class="ft-i">italic</span></li>
			<li><span class="tag">ft-u</span>: <span class="ft-u">underline</span></li>
			<li><span class="tag">ft-u-no</span>: <span class="ft-no-u">no underline</span></li>
			<li><span class="tag">ft-upper</span>: <span class="ft-upper">Uppercase</span></li>
			<li><span class="tag">ft-lower</span>: <span class="ft-lower">LOWERCASE</span></li>
			<li><span class="tag">ft-nowrap</span>: <span class="ft-nowrap">single line text</span></li>
		</ul>
	</div>
	<div>
		<h5>Sizes</h5>
		ft-<span class="tag">[0-10]</span><span class="tag">{-[1-9]}</span>-<span class="tag">em/rem</span><br><br>
		<i>Examples:</i> <br>
		<span class="tag">ft-2-rem</span> for a 2rem font size<br>
		<span class="tag">ft-1-2-em</span> for a 1.2em font size
	</div>
	<div>
		<h5>Colors</h5>
		ft-<span class="tag">color</span><br><br>
		<i>Examples:</i> <br>
		<span class="tag">ft-primary</span> <span class="tag">ft-blue</span> <span class="tag">ft-error</span>, etc...
	</div>
</div>
<h2>Widths</h2>
<div class="m-bottom d-grid cols-2 cols-sm-1">
	<ul>
		<li><span class="tag">w-100</span>: 100% width</li>
		<li><span class="tag">w-50&nbsp;</span>: 50% width</li>
		<li><span class="tag">w-33&nbsp;</span>: 33% width</li>
		<li><span class="tag">w-15&nbsp;</span>: 15% width</li>
	</ul>
	<ul>
		<li><span class="tag">w-full</span>: full screen width</li>
		<li><span class="tag">w-fit</span>: fitting content width</li>
		<li><span class="tag">w-auto</span>: width auto</li>
	</ul>
</div>
<h2>Miscs</h2>
<div class="mb-bottom d-grid cols-2 cols-md-1">
	<ul>
		<li><span class="tag">no-events</span>: forbid click events</li>
		<li><span class="tag">no-transition</span>: nullify existing transition <i class="fas fa-exclamation-triangle ft-error"></i></li>
		<li><span class="tag">no-overflow</span>: apply overflow hidden</li>
		<li><span class="tag">hidden</span>: hide element <i class="fas fa-exclamation-triangle ft-error"></i></li>
		<li>hidden-<span class="tag">breakpoint</span>: hide element at a specific breakpoint</li>
		<li><span class="tag">ellipsis</span>: apply ellipsis to the element's text</li>
		<li><span class="tag">center</span>: center an element</li>
		<li><span class="tag">center-block</span>: center an element and display as block</li>
	</ul>
	<ul>
		<li><span class="tag">fl-left</span>: float left</li>
		<li><span class="tag">fl-right</span>: float right</li>
		<li><span class="tag">clear-left</span></li>
		<li><span class="tag">clear-right</span></li>
		<li><span class="tag">clear</span>: clear both</li>
		<li><span class="tag">clear-after</span>: append a clearing element after</li>
		<li><span class="tag">clear-before</span>: append a clearing element before</li>
	</ul>
</div>